<app-task-page-content-pane-control>
  <app-task-page-content-pane-title [task]="task"></app-task-page-content-pane-title>
</app-task-page-content-pane-control>

<app-task-page-content-pane-control>
  <app-task-page-content-pane-stats [task]="task"></app-task-page-content-pane-stats>
</app-task-page-content-pane-control>

<app-task-page-content-pane-control header="Description">
  <app-task-page-content-pane-description></app-task-page-content-pane-description>
</app-task-page-content-pane-control>

<app-task-page-content-pane-control header="Checklist">
  <app-task-page-content-pane-checklist></app-task-page-content-pane-checklist>
</app-task-page-content-pane-control>

<app-task-page-content-pane-control header="Order of tasks">
  <app-task-page-content-pane-relations></app-task-page-content-pane-relations>
</app-task-page-content-pane-control>
