<app-task-page-content-pane-control>
  <app-task-page-content-pane-title></app-task-page-content-pane-title>
</app-task-page-content-pane-control>

<app-task-page-content-pane-control>
  <app-task-page-content-pane-stats></app-task-page-content-pane-stats>
</app-task-page-content-pane-control>

<app-task-page-content-pane-control header='Tags'>
  <app-task-page-content-pane-tags></app-task-page-content-pane-tags>
</app-task-page-content-pane-control>

<app-task-page-content-pane-control header="Description">
  <app-task-page-content-pane-description></app-task-page-content-pane-description>
</app-task-page-content-pane-control>

<app-task-page-content-pane-control header="Checklist">
  <app-task-page-content-pane-checklist></app-task-page-content-pane-checklist>
</app-task-page-content-pane-control>

<app-task-page-content-pane-control>
  <app-task-page-content-pane-relations></app-task-page-content-pane-relations>
</app-task-page-content-pane-control>
