<app-task-page-content-pane-control>
  <task-title-input [task]="task"></task-title-input>
</app-task-page-content-pane-control>

<app-task-page-content-pane-control>
  <task-stats-view [task]="task"></task-stats-view>
</app-task-page-content-pane-control>

<app-task-page-content-pane-control header="Description">
  <task-description-input [task]="task"></task-description-input>
</app-task-page-content-pane-control>

<app-task-page-content-pane-control header="Checklist">
  <task-checklist [task]="task"></task-checklist>
</app-task-page-content-pane-control>

<app-task-page-content-pane-control>
  <task-relations-view [task]="task"></task-relations-view>
</app-task-page-content-pane-control>

<div class="spacer"></div>
<div class="footer">
  <div class="footer-spacer"></div>

  <button class="btn-delete" (click)="delete()" title="delete">
    <i class="fas fa-trash"></i>
  </button>
  <button class="btn-hide" (click)="hide()" title="hide">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>
