.item {
    margin-bottom: 4px;
    display: flex;
    width: 100%;
}

.status {
    cursor: pointer;
    margin-right: 8px;
    width: 16px;
}

.text {
    flex-grow: 1;
    border-bottom: 1px solid grey;
    width: 100%;
    position: relative;
}

input,
textarea {
    border: none;
    padding: 0;
}

textarea {
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    width: 100%;
    transition: height 0.1s;
}
