<app-settings-page-header></app-settings-page-header>

<div class="content">
  <div class="tab-container tab-container--vertical">
    <app-tab-titles></app-tab-titles>
    <div class="tab-content">
      <div *ngIf="taskList && rights">
        <h2>{{taskList.name}}</h2>
        Show information about the current task-list

        <h3>Shared with</h3>
        <ul>
          <li *ngFor="let right of rights">
            {{right.name}}
            <button (click)="delete(right)">Delete</button>
          </li>
        </ul>

        <h3>Unused share-tokens</h3>
        <ul>
          <li *ngFor="let token of tokens">
            {{token.taskListUuid}} - {{token.token}}
            <button (click)="deleteToken(token)">Delete</button>
          </li>
        </ul>
        <input [(ngModel)]="newToken" placeholder="What is the secret token?" />
        <button (click)="addShareToken()">Add token to share list</button>
      </div>
      <div *ngIf="!taskList || !rights">
        Loading or not found...
      </div>
    </div>
  </div>
</div>
