// This file contains the variables for the color styles.
// Simply put the following at the top include the file.
// ```
//   @import '~scss/variables';
// ```
@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-primary: mat-palette($mat-teal, 500, 200, 900);
$web-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$web-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$web-theme: mat-light-theme($web-primary, $web-accent, $web-warn);

$header-background-color: #71af8c;
$header-background-color-hover: #559872;
$header-color: white;
$menu-background-color: #ffffff;
$menu-color: black;
$menu-item-background-color-hover:#e1f2fe;
$page-background-color: lighten(#71af8c, 10);
$container-background-color: white;

$container-width: 1140px;
