@import '~scss/variables';
$primary: map-get($web-theme, primary);
:host {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* has to be scroll, not auto */
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.spacer {
    border-bottom: 3px solid mat-color($primary);
}
