$animation-speed: 0.1s;
:host {
    height: 48px;
    flex-grow: 0;
    background-color: #71af8c;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.container {
    display: flex;
    width: 100%;
    .title {
        padding: 8px;
        margin: auto;
        color: white;
        width: 100%;
        background: transparent;
    }
    .connection-status {
        flex-shrink: 1;
        padding: 8px;
        color: white;
        margin: auto;
        background: transparent;
        .error {
            color: red;
            animation-duration: 400ms;
            animation-name: blink;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        .warn {
            color: yellow;
        }
    }
}

.menu-btn {
    width: 48px;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    transition: width $animation-speed, background-color $animation-speed;
    color: white;
    &:hover {
        background-color: darken(#71af8c, 10);
    }
    .icon {
        display: inline-block;
        text-align: center;
        width: 48px;
        height: 100%;
    }
}

select {
    width: 100%;
}
