<mat-toolbar class="header" color="primary">
  <div>{{displayName}}</div>
</mat-toolbar>

<gui-menu-item-checkbox data-cy="show-blocked-tasks" [checked]="showBlocked" (click)="showBlocked = !showBlocked">Show
  blocked tasks</gui-menu-item-checkbox>
<gui-menu-item-checkbox data-cy="show-negative-tasks" [checked]="showNegative" (click)="showNegative = !showNegative">Show
  negative tasks</gui-menu-item-checkbox>
<gui-menu-item-checkbox data-cy="show-completed-tasks" [checked]="showCompleted" (click)="showCompleted = !showCompleted">Show
  completed</gui-menu-item-checkbox>

<gui-menu-item data-cy="menu-settings" iconClass="fas fa-fw fa-cog" (click)="goToSettings()">Settings</gui-menu-item>
<gui-menu-item data-cy="menu-logout" iconClass="fas fa-fw fa-sign-out-alt" (click)="logout()">Logout</gui-menu-item>
