:host {
    display: block;
    position: relative;
}

textarea,
input {
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    font-weight: bold;
    width: 100%;
    transition: height 0.1s;
}
