<div class="header">
  <app-settings-tab-title>Personal</app-settings-tab-title>
</div>

<div class="body">
  <div class="row">
    <div class="label">Display name</div>
    <div class="value">
      <input [(ngModel)]="displayName">
    </div>
  </div>
  <div class="row">
    <div class="label">New password</div>
    <div class="value">
      <input [(ngModel)]="newPassword" type="password" autocomplete="new-password" placeholder="Enter new password here">
    </div>
  </div>
  <div class="row">
    <div class="label"></div>
    <div class="value">
      <button (click)="changePassword()">Update password</button>
    </div>
  </div>
</div>
