<app-settings-page-header></app-settings-page-header>

<div class="content">
  <div class="tab-container tab-container--vertical">
    <app-tab-titles></app-tab-titles>
    <div class="tab-content">
      <app-settings-content-title>Tasklists</app-settings-content-title>
      <app-settings-page-tasklists></app-settings-page-tasklists>
      <app-settings-page-tasklist-creator></app-settings-page-tasklist-creator>
      <app-accept-share-token></app-accept-share-token>
    </div>
  </div>
</div>
