<app-warning-modal-dialog></app-warning-modal-dialog>


<mat-sidenav-container>
  <mat-sidenav [(opened)]="openSideNav" [fixedInViewport]="true" [mode]="'over'" data-cy="menu">
    <app-settings-page-menu (close)="onClose()"></app-settings-page-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="header" color="primary">
      <button mat-icon-button data-cy="menu-button" (click)="open()">
        <mat-icon>settings</mat-icon>
      </button>
      <div>Settings</div>
    </mat-toolbar>

    <div class="container">
      <router-outlet name="tab"></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
