@import '~scss/variables';
:host {
    $primary: map-get($web-theme, primary);
    background-color: mat-color($primary, lighter);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.container {
    width: 1024px;
    max-width: calc(100vw - (32px + 16px));
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
    padding: 16px;
    margin: 16px;
    margin-left: auto;
    margin-right: auto;
}

.active {
    font-weight: bold;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
