:host {
    display: flex;
    height: 48px;
    width: 100%;
    background-color: #71af8c;
}

.task-lists {
  margin: auto;
  margin-left: 12px;
}

.padding {
    flex-grow: 1;
    flex-shrink: 1;
}

.buttons {
  display: flex;
    button {
        height: 100%;
        min-width: 48px;
        border: none;
        color: white;
        background-color: transparentize($color: black, $amount: 0.95);
        outline: none;
        &:hover {
          background-color: transparentize($color: black, $amount: 0.90);
        }
    }
}
