:host {
    display: flex;
    height: 48px;
    min-height: 48px;
    width: 100%;
    background-color: #71af8c;
}

.padding {
    flex-grow: 1;
    flex-shrink: 1;
}

.buttons {
    min-width: 400px;
    display: flex;
    .task-list-container {
        min-width: 100px;
        flex-grow: 1;
        margin: auto;
        padding-left: 16px;
        padding-right: 8px;
    }
    button {
        height: 100%;
        min-width: 48px;
        border: none;
        color: white;
        background-color: transparentize($color: black, $amount: 1);
        outline: none;
        &:hover {
            background-color: transparentize($color: black, $amount: 0.90);
        }
    }
}
