<app-task-page-header-search></app-task-page-header-search>
<div class="padding"></div>
<div class="buttons">
  <div class="task-list-container">
    <app-task-page-header-tasklist-selector></app-task-page-header-tasklist-selector>
  </div>
  <button (click)="toggleFilterMenu()">
    <i class="fas fa-filter fa-fw"></i>
  </button>
  <button (click)="toSettings()">
    <i class="fas fa-cog fa-fw"></i>
  </button>
</div>

<app-task-page-header-filter-menu *ngIf="showFilterMenu"></app-task-page-header-filter-menu>
