<app-common-page-header></app-common-page-header>
<div class="container">
  <div class="form-container">
    <div class="explain">Enter your email and we send you an email with instructions to recover your account.</div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" [(ngModel)]="email" name="username" placeholder="email"
        (keydown.enter)="resetPassword()">
    </mat-form-field>
      <button mat-flat-button color="primary" class="login-button" (click)="resetPassword()">Reset password</button>
    <div *ngIf="state !== 'init'">
      <div class="explain" *ngIf="state == 'processing'">Processing your request...</div>
      <div class="explain" *ngIf="state == 'ok'">Your request was processed, you should soon receive an email with instructions.</div>
      <div class="explain" *ngIf="state == 'error-generic'">Your password reset request encountered an error.</div>
      <div class="explain" *ngIf="state == 'error-unconfirmed'">This account was never confirmed. Please click on the link in the confirmation email.</div>
      <div class="explain" *ngIf="state == 'error-rejected'">This email is unknown to us.</div>
    </div>
  </div>
</div>
<app-common-page-footer></app-common-page-footer>
