:host {
    margin-bottom: 4px;
    display: flex;
    width: 100%;
}

.status {
    cursor: pointer;
    margin-right: 8px;
    width: 16px;
    font-size: 9px;
    &.unchecked {
        .checkbox__check {
            opacity: 0;
            &:hover {
                opacity: 0.4;
            }
        }
    }
    &.checked {
        .checkbox__check {
            opacity: 1;
        }
    }
}

.text {
    flex-grow: 1;
    border-bottom: 1px solid grey;
    width: 100%;
    position: relative;
}

input,
textarea {
    padding: 0;
    border: none;
}

textarea {
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    width: 100%;
    transition: height 0.1s;
}
