<settings-page-header></settings-page-header>

<div class="content">
  <div class="tab-container tab-container--vertical">
    <app-tab-titles></app-tab-titles>
    <div class="tab-content">
      <div class="explain">
        Every day a task exist it gains urgency.
        The longer you wait the more important it becomes.
        Here you can change how much urgency it gains every day.
        You can also give it a negative urgency so that old tasks will decrease in urgency and move back to the bottom</div>
        <settings-urgency-laps-edit-table></settings-urgency-laps-edit-table>
    </div>
  </div>
</div>
