<div class="timeline" *ngIf="showDropArea">
  <div class="droparea droparea--before" [class.allow]="beforeAllow" (dragover)="dragover($event, 'before')" (drop)="drop($event, 'before')">
    <b>before</b>
    <br>"{{taskname}}"</div>
  <div class="droparea-splitter">
    <span>or</span>
  </div>
  <div class="droparea droparea--after" [class.allow]="afterAllow" (dragover)="dragover($event, 'after')" (drop)="drop($event, 'after')">
    <b>after</b>
    <br>"{{taskname}}"</div>
</div>
<div *ngIf="!showDropArea">
  <div *ngIf="showExplain">
    <div class="title">Order of tasks</div>
    <i>Drag a task from the list list and drop it here so that we know if the task needs to be completed before or can only
      be completed after this task.</i>
  </div>
  <div *ngIf="!showExplain">
    <div class="title">Before this task:</div>
    <div *ngIf="showExplainBefore">
      <i>No tasks are blocking this task</i>
    </div>
    <div *ngFor="let item of tasksBefore" class="item" [class.done]="item.isDone">
      <i (click)="delete(item)" class="fa fa-minus-circle fa-fw clickable"></i>
      <span (click)="goTo(item)">{{item.taskTitle}}</span>
    </div>
    <div class="spacer"></div>
    <div class="title">After this task:</div>
    <div *ngIf="showExplainAfter">
      <i>No tasks are being blocked by this task</i>
    </div>
    <div *ngFor="let item of tasksAfter" class="item" [class.done]="item.isDone">
      <i (click)="delete(item)" class="fa fa-minus-circle fa-fw clickable"></i>
      <span (click)="goTo(item)">{{item.taskTitle}}</span>
    </div>
  </div>
</div>
