@import '~scss/variables';
:host {
    $primary: map-get($web-theme, primary);
    background-color: mat-color($primary, lighter);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    max-width: $container-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    background-color: white;
    box-sizing: border-box;
    padding: 16px 32px;
}

$row-spacing: 16px;
.form-container {
    border: 1px solid silver;
    box-shadow: 0 0 5px 0 silver;
    border-radius: 3px;
    max-width: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

.row--error {
    padding: $row-spacing;
}

.forgot-password {
    $primary: map-get($web-theme, primary);
    font-size: smaller;
    a {
        text-decoration: none;
        color: mat-color($primary);
    }
}

.full-width {
    width: 100%;
}
