/*
Notes about the design:
- It needs to be comforting (like wunderlist) and not cleamroom (like any.do)
- ThenNext wordt aan elkaar geschreven warbij de tweede N een hoofdletter is
  - Hierdoor is het ook duidelijk je 2 n's nodig heb
*/

@import '~scss/variables';
$two-column-width: 800px;
:host {
    display: flex;
    background-color: $page-background-color;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
}

.button--large {
    font-size: large;
}

.container {
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    background-color: white;
    min-height: calc(100% - (60px + 48px));
    box-sizing: border-box;
    flex-grow: 1;
}

.spacer {
    flex-grow: 1;
}

.title {
    font-weight: bold;
    font-size: 36px;
}

.row {
    display: flex;
    width: 100%;
    @media (max-width: $two-column-width) {
        flex-wrap: wrap;
    }
    .left,
    .right,
    .up,
    .down {
        padding: 16px 32px;
        width: 100%;
        align-self: center;
        @media (min-width: $two-column-width) {
            width: 50%;
            align-self: start;
        }
        img {
            text-align: center;
        }
    }
    @media (min-width: $two-column-width) {
        .left {
            order: 1;
        }
        .right {
            order: 2;
        }
    }
    @media (max-width: $two-column-width) {
        .up {
            order: 1;
        }
        .down {
            order: 2;
        }
    }
}

.row+.row {
    border-top: 1px solid silver;
}

.row:nth-child(even) {
    background-color: #f0f0f0;
}

p {
    margin-bottom: 8px;
    line-height: 1.40;
}

img {
    width: 100%;
    border-radius: 5px;
}

.buttons {
    margin-top: 64px;
    text-align: center;
}

.button {
    padding: 8px 32px;
    font-size: 16px;
}
