<div class='header'>
  <div class='__container'>
    <div class='item logo'></div>
    <div class='item'>ThenNext</div>
    <div class='item'>Assistent</div>
    <div class='item'>Premium</div>
    <div class='divider'></div>
    <a routerLink="/create-account" class='item'>Sign up</a>
  </div>
</div>
<div class="row--backgroundcolor">
  <div class='row'>
    <div class='column'>
      <div class='banner-title'>ThenNext</div>
      <div class='banner-sub-title'>... {{exampletask | async}}</div>
      <div class='blurb'>
        If every day you get more tasks then you can finish, it becomes hard to keep track of what is next. ThenNext makes it easy
        for you to stay on top what is urgent and what is not.
        <br>
        <br> You should keep the focus on the now.
        <br>ThenNext will handle the rest.
      </div>
      <a class='actie-knop' routerLink="/login">Start now</a>
    </div>
    <div class='column'>
      <img src="/assets/jake-hills-389-unsplash-small.jpg">
    </div>
  </div>
</div>
