<app-common-page-header></app-common-page-header>
<div class="container">
  <div class="form-container">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput data-cy="username" type="text" [(ngModel)]="username" name="username" placeholder="email" (keydown.enter)="login()">
    </mat-form-field>

    <mat-form-field class="full-width"  appearance="outline">
        <mat-label>Password</mat-label>
      <input matInput data-cy="password" type="password" [(ngModel)]="password" name="password" placeholder="password" (keydown.enter)="login()">
    </mat-form-field>

    <button mat-flat-button color='primary' data-cy="submit" class="login-button" (click)="login()" [disabled]="working" [class.working]="working">
      <span *ngIf="working">
        <i class="fas fa-spin fa-cog fa-fw"></i>
        Trying to login
      </span>
      <span *ngIf="!working">
        Login
      </span>
    </button>

    <div *ngIf="loginReason">
      <div class="input-splitter"></div>
      <div class="row row--error">Please login again: {{loginReason}}</div>
    </div>

    <div *ngIf="showError">
      <div class="input-splitter"></div>
      <div class="row row--error">
        Unable to login, an error occured, please try again</div>
    </div>

    <div>
      <div class="input-splitter"></div>
      <div class="row row--explain">
        <a  data-cy="forgot-password-link" [routerLink]="['/forget-password']">Did you forget your password?</a></div>
    </div>
  </div>
</div>

<app-common-page-footer></app-common-page-footer>
