<div class="container">
  <div class="form-container">
    <label class="row">
      <div class="icon">
        <i class="far fa-fw fa-envelope"></i>
      </div>
      <div class="input">
        <input type="text" [(ngModel)]="username" name="username" placeholder="email" (keydown.enter)="login()">
      </div>
    </label>
    <div class="input-splitter"></div>
    <label class="row">
      <div class="icon">
        <i class="fas fa-fw fa-lock"></i>
      </div>
      <div class="input">
        <input type="password" [(ngModel)]="password" name="password" placeholder="password" (keydown.enter)="login()">
      </div>
    </label>
    <div class="input-splitter"></div>

    <div class="row">
      <button class="login-button" (click)="login()" [disabled]="working" [class.working]="working">
        <span *ngIf="working">
          <i class="fas fa-spin fa-cog fa-fw"></i>
          Trying to login
        </span>
        <span *ngIf="!working">
          Login
        </span>
      </button>
    </div>


    <div *ngIf="showError">
      <div class="input-splitter"></div>
      <div class="row row--error">
        Unable to login, an error occured, please try again</div>
    </div>
  </div>
</div>
