.container{
  position: relative;
}
textarea {
    width: 100%;
    font-family: monospace;
    border: none;
    outline: none;
    -moz-appearance: none;
    resize: none;
    overflow: hidden;
    width: 100%;
    transition: height 0.1s;
    padding: 0;
}
