<div class="menu-btn" (click)="toggle()">
  <div class="icon">
    <i class="fas fa-bars fa-fw"></i>
  </div>
</div>

<div class="background" [class.expand]="expand" (click)="close()"></div>
<div class="panel" [class.expand]="expand">
  <div class="title"> Menu</div>

  <div class="item">
    <div class="icon">
      <i class="fas fa-fw fa-list"></i>
    </div>
    <app-task-page-header-tasklist-selector></app-task-page-header-tasklist-selector>
  </div>

  <div class="item" (click)="onlyUnblocked = !onlyUnblocked">
    <div class="icon">
      <i class="far fa-fw" [class.fa-square]="!onlyUnblocked" [class.fa-check-square]="onlyUnblocked"></i>
    </div>
    <div class="text">Only unblocked</div>
  </div>

  <div class="item" (click)="onlyPositive = !onlyPositive">
    <div class="icon">
      <i class="far fa-fw" [class.fa-square]="!onlyPositive" [class.fa-check-square]="onlyPositive"></i>
    </div>
    <div class="text">Only positive tasks</div>
  </div>

  <div class="item" (click)="showDelayed = !showDelayed">
    <div class="icon">
      <i class="far fa-fw" [class.fa-square]="!showDelayed" [class.fa-check-square]="showDelayed"></i>
    </div>
    <div class="text">Show delayed</div>
  </div>

  <div class="item" (click)="showCompleted = !showCompleted">
    <div class="icon">
      <i class="far fa-fw" [class.fa-square]="!showCompleted" [class.fa-check-square]="showCompleted"></i>
    </div>
    <div class="text">Show completed</div>
  </div>

  <div class="spacer"></div>

  <div class="item" (click)="goToSettings()">
    <div class="icon">
      <i class="fas fa-cog fa-fw"></i>
    </div>
    <div class="text">Settings</div>
  </div>

  <div class="item" (click)="logout()">
    <div class="icon">
      <i class="fas fa-sign-out-alt fa-fw"></i>
    </div>
    <div class="text">Logout</div>
  </div>
</div>
