<div class="container" [@taskState]="state" draggable="true" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)">
  <div *ngIf="checked == false" class="checkbox unchecked" (click)="check()">
    <span class="fa-stack">
      <i class="far fa-circle fa-stack-2x"></i>
      <i class="fas fa-check fa-stack-1x checkbox__check"></i>
      <i class="fas fa-lock fa-stack-1x checkbox__locked" *ngIf="isBlocked"></i>
    </span>
  </div>
  <div *ngIf="checked == true" class="checkbox checked" (click)="uncheck()">
    <span class="fa-stack">
      <i class="far fa-circle fa-stack-2x"></i>
      <i class="fas fa-check fa-stack-1x checkbox__check"></i>
    </span>
  </div>
  <div class="title">{{title}}</div>
  <div class="buttons">
    <div *ngIf="showCommentIcon" class="button">
      <i class="far fa-comments fa-fw"></i>
    </div>
    <div *ngIf="showSleepIcon" class="button" (click)="delay()">
      <i class="far fa-moon fa-fw"></i>
    </div>
    <div *ngIf="showPlayIcon" class="button" (click)="play()">
      <i class="fas fa-play fa-fw"></i>
    </div>
    <div *ngIf="showPauseIcon" class="button" (click)="pause()">
      <i class="fas fa-pause fa-fw"></i>
    </div>
  </div>
  <div class="score" [class.done]="isDone">{{score | number:'1.1-1'}}
  </div>
</div>
