<div class="menu-item">
  <label>
    <input type="checkbox" [(ngModel)]="onlyUnblocked" /> Only unblocked
  </label>
</div>
<div class="menu-item">
  <label>
    <input type="checkbox" [(ngModel)]="onlyPositive" /> Only positive tasks
  </label>
</div>
<div class="menu-item">
  <label>
    <input type="checkbox" [(ngModel)]="showDelayed" /> Show delayed
  </label>
</div>
<div class="menu-item">
  <label>
    <input type="checkbox" [(ngModel)]="showCompleted" /> Show completed
  </label>
</div>
<div class="menu-item">
    <app-task-page-header-tasklist-selector></app-task-page-header-tasklist-selector>
</div>
<div class="menu-item">
  <button (click)="goToSettings()">Settings</button>
</div>
<div class="menu-item">
  <button (click)="logout()">Logout</button>
</div>
