<div class="explain">When the title of the task contains a certain word or phrase we can shift the score up or down.</div>

<table>
  <thead>
    <tr>
      <th>Phrase</th>
      <th>Score</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.phrase}}</td>
      <td>{{item.score}}</td>
      <td><button (click)="delete(item)"><i class="fas fa-trash fa-fw"></i></button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
    <td><input [(ngModel)]="newPhrase" /></td>
    <td><input type="number" [(ngModel)]="newScore" /></td>
    <td><button (click)="create()"><i class="fas fa-plus fa-fw"></i></button></td>
    </tr>
  </tfoot>
</table>
