$animation-speed: 0.1s;
:host {
    height: 48px;
    flex-grow: 0;
    color: white;
}

.container {
    display: flex;
    width: 100%;
    background-color: #71af8c;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    .title {
        padding: 8px;
        margin: auto;
        color: white;
        width: 100%;
        background: transparent;
    }
}

.menu-btn {
    width: 48px;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    transition: width $animation-speed, background-color $animation-speed;
    &:hover {
        background-color: darken(#71af8c, 10);
    }
    .icon {
        display: inline-block;
        text-align: center;
        width: 48px;
        height: 100%;
    }
}

a {
    text-decoration: none;
}

.active {
    font-weight: bold;
}
