$row-spacing: 16px;

:host {
    display: block;
    width: 100%;
    font-size: 18px;
}


.container {
    border: 1px solid silver;
    border-radius: 3px;
}

.row {
    display: flex;
}

.icon {
    padding: $row-spacing;
    padding-right: 8px;
    text-align: center;
}

.input {
    flex-grow: 1;
    padding-top: $row-spacing;
    padding-bottom: $row-spacing;
    padding-right: $row-spacing;
    input {
        width: 100%;
        box-sizing: border-box;
        border: none;
        outline: none;
    }
}

.input-splitter {
    height: 1px;
    border-bottom: 1px solid silver;
}

.login-button {
    width: calc(100%);
    display: block;
    border: none;
    background-color: #71af8c;
    border-radius: 3px;
    color: white;
    margin: $row-spacing;
    padding: 12px 8px;
    box-sizing: border-box;
}
