:host {
    min-width: 50%;
    flex-grow: 1;
    max-height: calc(100vh - (48px * 2));
    overflow-y: scroll;
    // Extra padding on the right for the scrollbar.
    padding-right: 8px;
    // background-color: lighten(green, 40);
}
