:host {
  display: block;
  padding: 8px;
  margin: 8px 4px;
  background-color: white;
border-bottom: 1px solid silver;
}

.title {
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 4px;
}
