<table>
  <tbody>
    <tr *ngFor="let tasklist of ownedTasklists">
      <td>
        <a routerLinkActive='active' [routerLink]="['/settings', 'tasklists', tasklist.uuid]">{{tasklist.name}}</a>
      </td>
      <td>
        <button (click)="delete(tasklist)">
          <i class="fas fa-trash fa-fw"></i>
        </button>
      </td>
    </tr>
    <tr *ngFor="let tasklist of otherTasklists">
      <td>
        {{tasklist.name}} <i>(Owned by someone else)</i>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <input [(ngModel)]="newTaskListName" (keydown.enter)="create()">
      </td>
      <td>
        <button (click)="create()">
          <i class="fas fa-plus fa-fw"></i>
        </button>
      </td>
    </tr>
  </tfoot>
</table>
