.tab-titles {
    display: flex;
    a {
        box-sizing: content-box;
        border: 1px solid black;
        text-align: center;
        font-size: larger;
        font-weight: bold;
        padding: 3px;
        background-color: #dfdfdf;
        color: black;
        text-decoration: none;
        cursor: pointer;
        &.active {
            background-color: white;
        }
    }
}

.tab-titles {
    flex-direction: column;
    a {
        border-radius: 3px 0 0 3px;
        border-right: none;
        text-align: left;
        padding: 5px;
        padding: 5px 10px;
        margin-top: 8px;
    }
    a+a {
        margin-top: -1px;
    }
}
