<p>This is a the demo page</p>

<div class="config">
  <div class="row">
    <div class="label">Private Key</div>
    <div class="input">{{privateKey}}</div>
  </div>
  <div class="row">
    <div class="label">Nonce (should be unique per item)</div>
    <div class="input">{{nonce}}</div>
  </div>
  <div class="row">
    <div class="label">PK-Hash</div>
    <div class="input">{{privateKeyHash}}</div>
  </div>
</div>

<div class="container">
  <div class="box box--plain">
    <textarea [(ngModel)]="plainText"></textarea>
  </div>
  <div class="box box--encrypted">
    {{$encrypted | async}}
  </div>
</div>
