<app-common-page-header></app-common-page-header>
<div class="container">
  <div>
    <p>Congratulations, your account has been created.</p>
    <p>Please check your email for the confirmation e-mail. This should arive in few seconds.</p>
    <p>If you haven't receveid your confirmation e-mail, please contact
      <a target="_blank" href="mailto:wouter+support@thennext.com?Subject=%5BHelp%5D%20No%20confirmation%20e-mail%20received&Body=Hi%20Wouter%2C%0A%0AI%20haven%27t%20received%20my%20confirmation%20e-mail.%20Could%20you%20please%20investigate%20what%20has%20gone%20wrong%3F%0A">wouter@thennext.com</a>
      and ask what is wrong.</p>
  </div>
</div>
<app-common-page-footer></app-common-page-footer>
