.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparentize($color: black, $amount: 0.2);
    z-index: 1000;
}

.warning {
  position: fixed;
  top: 20%;
  left: 10%;
  right: 10%;
  text-align: center;
  color: white;
  background-color: red;
  z-index: 100000;
}
