@import '~@angular/material/theming';
@import "~scss/variables";
$footer-height: 60px;
.footer {
    $primary: map-get($web-theme, primary);
    height: $footer-height;
    background-color: mat-color($primary, darker);
    color: mat-color($primary, darker-contrast);
    .__container {
        line-height: 48px;
        max-width: $container-width;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
}
